* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 16px;
}

body {
  background-color: #fafafa;
  overflow-x: hidden;
}

button {
  color: inherit;
}

.wrapper {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.wrapper-wide {
  max-width: 1280px;
  margin: 0 auto;
}

h1 {
  font-weight: 500;
  font-size: 3.75rem;
}

@media (max-width: 1160px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 521px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

@media (max-width: 521px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

button {
  border: 0;
  padding: 0;
}

.shadow-container {
  width: 100%;
  border-radius: 10px;
  background: #fafafa;
  position: relative;
}

.shadow-container:before {
  content: "";
  position: absolute;
  inset: -10px;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.09), #fafafa);
  filter: blur(39px);
}

@media (max-width: 770px) {
  .shadow-container:before {
    display: none;
  }
}

.cards-container {
  display: flex;
  gap: 20px;
}

.block {
  height: 1000px;
}

.setting-anim {
  animation-name: rotating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.blue-background {
  background-color: #2580e5;
}
